<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WMSCustomerPortal.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="WMSHostCustomerPortal" connectionString="Data Source=RAMSQLCOL08;Initial Catalog=WMSHostCustomerPortal;User ID=ramsqladmin; Password=colcep4tacu$" providerName="System.Data.SqlClient" />
    </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="SMTPHost" value="10.0.20.215" />
    <!--10.0.20.215-->
    <!--RAMCOLOCAS00.RAMINT.LOCAL -->
    <add key="SMTPPort" value="25" />
    <add key="FromWMSEmail" value="wmswebadmin@ram.co.za" />
    <add key="DefaultWMSConnectionString" value="WMSHostCustomerPortal" />
    <add key="RAMHostWSPath" value="http://10.0.20.26/RAMWMSHost/WS/HostWS.asmx" />
    <add key="WMSSiteCode" value="001" />
    <add key="WMSRecordSource" value="WMSCustomerPortal" />
    <add key="VATPercentage" value="14" />

    <!-- Logging -->
    <add key="Logger.AssemblyName" value="RAM.Logging.Log4Net.dll" />
    <add key="Logger.ClassName" value="RAM.Logging.Log4Net.Log4NetLogger" />
  </appSettings>

  <applicationSettings>
    <WMSCustomerPortal.Business.Properties.Settings>
      <setting name="WMSCustomerPortal_Business_WS_RAM_Host_HostWS" serializeAs="String">
        <value>http://10.0.20.26/RAMWMSHost/WS/HostWS.asmx</value>
      </setting>
      <setting name="WMSCustomerPortal_Business_SharedServices_LocationsWS_Locations" serializeAs="String">
        <value>http://10.0.21.116/RAM.SharedServices.Web/Locations.asmx</value>
      </setting>
    </WMSCustomerPortal.Business.Properties.Settings>
  </applicationSettings>
</configuration>